.Flag-Img{
    width: 89%;
    height: 250px;
    border:1px solid gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
}

.Flag-Col{
    text-align: center       
}



.Stage-Avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #343a40;
    text-align: center;
    display: inline-block;
    padding: 8px;
    left: 17px;
    position: relative;
}

.Stage-Avatar span{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.Answer-Col{
    text-align: center;
    position: relative;
}

.Answer-Col ul{
    margin-top: 15px;
}

.Answer-Col ul > li{
    list-style: none;
    margin: 8px;
}

.Wrong-Alert{
    width: 480px;
    margin-left: 51px;
}

.Restart-Button{
    /* margin-top: 50px;
    margin-left: 50px; */
    display: inline-block;
    position: absolute;
    right: 28px;
}

@media screen and (max-width: 600px) {
    .Flag-Img{
        width: 68%;
        height: 150px;
    }
   
    .Restart-Button{
       margin-top: 5px;
    }
    .Answer-Col{
        text-align: center;
        margin-top: 35px;
    }
    .Answer-Col ul{
        text-align: center;
        margin-top: 35px;
        padding: 0;
    }
    .Stage-Avatar{
       left: 4px;
    }
    .Wrong-Alert{
        width: 314px;
        margin: auto;
    }
  }