@import url('https://fonts.googleapis.com/css?family=Questrial');

.country-modal{
    font-family: 'Questrial', sans-serif;
}

.country-card{
    border: none;
}

.card-title{
    text-align: center;
}

.flag-img{
    margin: auto;
    width: 50%;
}