.Quiz-Game{
    margin-top: 70px;
}

.Flag-Img{
    width: 89%;
    height: 250px;
    border:1px solid gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
}

.Flag-Col{
    text-align: center       
}

.Stage-Avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #343a40;
    text-align: center;
    display: inline-block;
    padding: 8px;
    left: 8px;
    position: relative;
}


.Stage-Avatar span{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.Timer-Avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #db4747;
    text-align: center;
    display: inline-block;
    padding: 8px;
    bottom: 10px;
    position: relative;
}

.Timer-Avatar span {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.Answer-Col{
    text-align: center;
    position: relative;
}

.Answer-Col ul{
    margin-top: 15px;
}

.Answer-Col ul > li{
    list-style: none;
    margin: 8px;
    position: relative;
}

.Answer-Button{
    width: 80%;
    font-size:22px;
}

.wrong-ans{
    font-size: 30px;
    color: #dd3636;
    position: relative;
    top: 7px;
    left: 7px;
}

.right-ans{
    font-size: 30px;
    color: green;
    position: relative;
    top: 7px;
    left: 7px;
}

.Restart-Button{
    display: inline-block;
    position: absolute;
    right: 70px;
}



@media screen and (max-width: 600px) {
    .Quiz-Game{
        margin-top: 30px;
    }

    .Flag-Img{
        width: 68%;
        height: 150px;
    }
   
    .Restart-Button{
       margin-top: 5px;
       right: 56px;
    }
    .Answer-Col{
        text-align: center;
        margin-top: 35px;
    }
    .Answer-Col ul{
        text-align: center;
        margin-top: 35px;
        padding: 0;
    }

    .Answer-Button{
        width: 80%;
        font-size:16px;
    }
    .Stage-Avatar{
       left: -1px;
    }
    .Timer-Avatar{
        right: 11px;
    }
    .Wrong-Alert{
        width: 314px;
        margin: auto;
    }
  }

  @media screen and (max-width: 768px) {
    .Restart-Button{
        margin-top: 5px;
        right: 50px;
     }
    
    }

     
  @media screen and (max-width: 320px) {
    .Restart-Button{
        margin-top: 5px;
        right: 40px;
     }
     .Stage-Avatar{
        left: -3px;
     }
    }