
.country-modal{
  font-size: 1.3em;
}

.country-card{
    border: none;
}

.card-title{
    text-align: center;
}

.flag-img {
    margin: auto;
    width: 50%;
    border: 1px solid white;
    box-shadow: 4px -1px 11px 5px #dbd1d1;
}